.hero {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/hero-bg.jpg");
  background-size: cover;
  padding: 80px 0 178px;

  &-partners {
    display: flex;
    align-items: center;

    &-item {
      margin-left: 60px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &-navigation {
    margin-top: 45px;

    &-item {
      text-decoration: none;
      font-weight: normal;
      font-size: 19px;
      line-height: 22px;
      color: #fff;
      margin-left: 74px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &-title {
    width: 664px;
    font-weight: normal;
    font-size: 57px;
    line-height: 67px;
    color: #fff;
    margin: 108px 0 132px;
  }

  &-link {
    display: inline-block;
    padding: 35px 151px;
    text-decoration: none;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: #fff;
    background: #B78A3F;
  }
}
