.sectors {
  padding: 50px 0;

  &-title {
    font-weight: normal;
    font-size: 35px;
    line-height: 41px;
    color: #fff;
    text-align: center;
    margin-bottom: 42px;
  }

  &-subtitle {
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
  }
}