@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import "reset";

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #737373;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}