.air-q {
  padding: 50px 0;

  &-title {
    text-align: center;
    font-weight: normal;
    font-size: 35px;
    line-height: 41px;
    color: #fff;
  }

  &-map {
    height: 560px;
    margin: 42px 0;
  }

  &-text {
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    color: #fff;
  }
}